.container {
    box-sizing: border-box;
    background-color: #fff;
    padding: 2rem;
    max-height: 360vh;
}

.time {
    font-size: 4rem;
    font-weight: 300;
}

.greeting {
    font-size: 1.5rem;
    font-weight: 150;
}
